/*
Создайте файл style.css в подпапке css в папке проекта. В этом файле пропишите для body и для заголовков двух типов текстовые стили:

размер шрифта,
высоту строки,
цвет шрифта,
жирность шрифта,
гарнитуру (название шрифта).
Для заголовков задавайте текстовые стили с помощью селектора по классу.

Задавать текстовые стили для всех элементов не нужно, достаточно трёх CSS-правил.

Подключать нестандартный шрифт к странице не нужно.
*/

body {
    font-size: 12px;
    line-height: 1.2em;
    font-family: "Roboto Bold";
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.slider-title {
    font-size: 60px;
    line-height: 1em;
}

.banner-title,
.current-item-title
 {
    font-size: 35px;
    line-height: 1.17em;
}