* { 
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    line-height: 1.2em;
    font-family: "Roboto", "Arial", sans-serif;;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #97aca1;
}

.slider-title {
    font-size: 60px;
    line-height: 1em;
}

.banner-title,
.current-item-title
 {
    font-size: 35px;
    line-height: 1.17em;
}

/*------------------------------------------------*/
/*Размечаю сетку*/
/*Первая страница*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Header*/
.main-header {
    min-height: 70px;
}

.center-container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.logo {
    top: 4.5px;
    float: left;
    padding-top: 8px;
    margin-right: 10px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Основное меню в HEADER'е*/
.main-navigation {
    float: left;
    font-size: 16px;
    line-height: 1.12em;
    font-weight: bold;
}

.navigation-left-side {
    float: left;
    width: 721px;
    padding-top: 22px;
}

.navigation-left-menu,
.main-sub-menu {
    font-size: 0px;
}

.navigation-left-menu > li {
    display: inline-block;
    font-size: 14px;
}

.main-menu-btn {
    display: block;
    padding: 7px 13px;
    font-size: 16px;
    line-height: 1.125em;
    font-weight: bold;
    margin-right: 2px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 20px;
}

.main-menu-btn span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.main-menu-btn:hover span {
    border-bottom: none;
}

.main-menu-btn:active {
    background-color: #ffffff;
    color: #000000;
    box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-menu-btn-active {
    background-color: #d07058;
}

.main-menu-btn-active span,
.main-menu-btn:active span{
    border-bottom: none;
}

.navigation-left-menu li:first-child {
    position: relative;
}

.main-sub-menu {
    position: absolute;
    z-index: 1;
    display: none;
    width: 143px;
    min-height: 171px;
    top: 32px;
    left: -7px;
    padding-top: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-sizing: border-box;
}

.navigation-left-menu li:hover .main-sub-menu {
    display: block;
}

.main-sub-menu li {
    list-style: none;
    background-color: #ffffff;
    min-height: 31px;
    box-sizing: border-box;
}

.main-sub-menu li:first-child {
    min-height: 44px;
    padding-top: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.horizontal-separator {
    height: 1px;
    width: 128px;
    margin-left: 6px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.main-sub-menu li:last-child {
    min-height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-sub-menu-item {
    display: block;
    height: 28px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    box-sizing: border-box;
    color: #000000;
    font-size: 14px;
    line-height: 1.14em;
    font-weight: normal;
    text-decoration: none;
}

.main-sub-menu li:first-child .main-sub-menu-item {
    font-weight: bold;
}

.main-sub-menu-item:hover {
    background-color: #fbded7;
}

.main-sub-menu-item:active {
    background-color: #f6b5a5;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Правое меню в HEADER'е*/
.navigation-right-side {
    float: right;
    width: 261px;
    padding-top: 23px;
}

.navigation-right-menu-search {
    float: left;
    position: relative;
    width: 32px;
    margin-right: 10px;
}

.rounded-btn {
    display: block;
    min-height: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.14em;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: 0px;
}

.search-btn {
    font-size: 0px;
    background-image: url("/img/icon_search_white.png");
    background-repeat: no-repeat;
    background-position: center;
}

.search-btn:hover {
    cursor: pointer;
    background-image: url("/img/icon_search_black.png");
    background-color: #ffffff;
}
    
.authorize-btn {
    padding-left: 42px;
    background-image: url("/img/icon_login_white.png");
    background-repeat: no-repeat;
    background-position: 16px 6px;
}

.authorize-btn:hover {
    background-image: url("/img/icon_login_black.png");
    color: #000000;
    background-color: #ffffff;
}
.cart-btn {
    padding-left: 25px;
    background-image: url("/img/icon_cart_empty.png");
    background-repeat: no-repeat;
    background-position: 16px 6px;
}







.find-form {
    position: absolute;
    top: 36px;
    right: 0px;
    width: 340px;
    height: 84px;
    z-index: 1;
}

.navigation-right-menu-authorize {
    float: left;
    position: relative;
    width: 92px;
}

.authorize-form {
    position: absolute;
    top: 36px;
    right: 0px;
    width: 277px;
    height: 214px;
    z-index: 1;
}

.navigation-right-menu-cart {
    float: right;
    width: 117px;
}

.cart-content {
    position: absolute;
    right: 0px;
    top: 59px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.cart-content-table {
    display: table;
    font-size: 13px;
    line-height: 1.23em;
}

.cart-table-column {
    display: table-column;
}

.cart-table-cel {
    max-width: 219px;
}

.cart-table-row {
    display: table-row;
}

.cart-table-cel {
    display: table-cell;
}

.cart-footer {
    text-align: right;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*main-container-header*/
.main-container-header {
    margin-bottom: 2px;
}

.breadcrumbs {
    float: left;
    font-size: 0px;
    padding-top: 26px;
}

.breadcrumbs-links li {
    display: inline-block;
    font-size: 14px;
    line-height: 1.14em;
}

.working-time-phone {
    float: right;
}

.working-time {
    font-size: 14px;
    line-height: 1.14em;
    margin-bottom: 5px;
    text-align: right;
}

.phone {
    font-size:  22px;
    line-height: 1em;
    text-align: right;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Слайдер*/
.slider-inner {
    position: relative;
    margin-bottom: 50px;
}

.slider-background-image {
    position: absolute;
    top: -30px;
    left: 250px;
    z-index: -1;
}

.slider-background-backlight {
    position: absolute;
    top: -114px;
    left: 78px;
    z-index: -2;
 }

.slider-title {
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
    line-height: 1em;
    padding-top: 278px;
}

.slider-background-1 .slider-title {
    width: 670px;
}

.slider-background-2 .slider-title {
    width: 645px;
}

.slider-background-3 .slider-title {
    width: 632px;
}

.slider-background-2,
.slider-background-3 {
    display: none;    
}

.slider-radio-buttons {
    float: left;
}

.give-me-two {
    display: block;
    width: 250px;
    font-size: 32px;
    line-height: 1.37em;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -11px;
    margin-bottom: 52px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Баннеры*/
.banners-group {
    margin-bottom: 41px;
}

.banner-item {
    float: left;
    max-width: 560px;
    padding-top: 16px;
    padding-left: 19px;
    box-sizing: border-box;
    width: 560px;
    height: 229px;
    color: rgb(255, 255, 255);
}

.banner-item:first-child {
    margin-right: 26px;
    background-image: url("/img/background_raspberry.png");
}

.banner-item:last-child {
    background-image: url("/img/background_chocolate_crumb.png");
}

.banner-title {
    margin-bottom: 18px;
    font-size: 35px;
    line-height: 1.17em;
}

.banner-description {
    font-size: 18px;
    line-height: 1.22em;
    max-width: 516px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Хиты*/
.hits-group {
    margin-bottom: 50px;
}

.hit-item {
    float: left;
    width: 267px;
    margin-right: 26px;
}

.hit-item:last-child {
    margin-right: 0px;
}

.hit-item-photo {
    position: relative;
}

.hit-item-corner-item {
    position: absolute;
    top: 0px;
    left: 0px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*seo*/
.seo {
    min-height: 306px;
    font-size: 0px;
    margin-bottom: 40px;
}

.seo-title {
    font-size: 24px;
    line-height: 1.25em;
}

.seo-description-1,
.seo-description-2,
.seo-description-3,
.seo-description-4 {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 1.37em;
}

.seo-description-1,
.seo-description-3 {
    width: 480px;
    margin-bottom: 25px;
    margin-right: 86px;
}

.seo-description-2,
.seo-description-4 {
    width: 475px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Хиты*/
.news,
.subscription {
    float: left;
    width: 560px;
    min-height: 220px;
    margin-bottom: 38px;
}

.news {
    margin-right: 26px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Контакты*/
.contacts {
    margin-left: -27px;
    clear: both;
    position: relative;
}

.map-background-pin {
    position: absolute;
    top: 139px;
    left: 266px;
}

.contacts-container {
    position: absolute;
    left: 870px;
    top: 62px;
    width: 302px;
    min-height: 305px;
    background-color: rgb(255, 255, 255);
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Модальное окно обратной связи*/
.feedback {
    position: absolute;
    top: -70px;
    left: 0px;
    width: 1200px;
    height: 2450px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.feedback-form {
    position: absolute;
    top: 338px;
    left: 363px;
    width: 477px;
    height: 442px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    background-image: url("/img/icon_x.png");
    background-repeat: no-repeat;
    background-position: right top;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Вторая страница. Основной блок*/

.current-item-title {
    margin-bottom: 25px;
}

.filters {
    font-size: 0px;
    margin-bottom: 35px;
}

.filter-item-container {
    display: inline-block;
    margin-right: 15px;
    height: 57px;
    font-size: 14px;
    line-height: 1.14em;
}

.filter-item-container:nth-child(1) {
    width: 193px;
    margin-bottom: 16px;
    vertical-align: top;
}

.filter-item-container:nth-child(2) {
    width: 218px;
    margin-bottom: 16px;
    vertical-align: top;
}

.filter-item-container:nth-child(3) {
    width: 415px;
    margin-bottom: 16px;
    vertical-align: top;
}

.filter-item-container:nth-child(4) {
    width: 702px;
}

.filter-item-caption {
    margin-bottom: 5px;
}

.apply-filter {
    vertical-align: bottom;
}

.catalog {
    font-size: 0px;
    margin-bottom: 46px;
}

.catalog-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 267px;
    min-height: 362px;
    margin-right: 26px;
    font-size: 16px;
    line-height: 1.37em;
}

.catalog-item:nth-child(4n) {
    margin-right: 0px;
}

.catalog-item-price {
    position: absolute;
    top: 208px;
    left: 0px;
}

.fast-view {
    position: absolute;
    top: 345px;
    right: 50px;
    font-size: 18px;
    line-height: 1.33em;
    z-index: 1;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Пагинатор*/
.paginator {
    font-size: 0px;
    margin-bottom: 32px;
}

.paginator-links {
    float: right;
}

.paginator-links li {
    display: inline-block;
    font-size: 16px;
    line-height: 1.12em;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Подвал*/
.main-footer {
    min-height: 103px;
}

.footer-social,
.footer-links {
   padding-top: 36px;
}

.footer-social {
    float: left;
    font-size: 0px;
    margin-right: 213px;
 }

.footer-social a {
    font-size: 12px;
    line-height: 1.5em;
    display: inline-block;
}

.footer-links {
    float: left;
    margin-right: 140px;
}

.footer-links-column:first-child  {
    float: left;
    width: 130px;
    margin-right: 30px;
}

.footer-links-column:last-child {
    float: right;
    width: 180px;
}

.footer-link {
    float: left;
}

.footer-copyright {
    float: right;
    max-width: 200px;
    font-size: 0px;
    padding: 19px;
}

.footer-copyright > a,
.footer-copyright > p {
    float: left;
}

.footer-copyright > p {
    font-size: 12px;
    line-height: 1.5px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/








/*------------------------------------------------*/
/*Служебное*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.SHOWME1 {
    background-color: rgba(255, 215, 108, 0.5);
    outline: 2px solid rgba(255, 190, 15, 0.5);
}

.SHOWME2 {
    background-color: rgba(120, 255, 168, 0.5);
    outline: 2px solid rgba(11, 255, 97, 0.5);
}

.SHOWME3 {
    background-color: rgba(255, 129, 176, 0.5);
    outline: 2px solid rgba(255, 13, 104, 0.5);
}

.SHOWME4 {
    background-color: rgba(0, 0, 0, 0.5);
    
}

.HIDEME {
    display: none;
}
