* { 
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    line-height: 1.2em;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.slider-title {
    font-size: 60px;
    line-height: 1em;
}

.banner-title,
.current-item-title
 {
    font-size: 35px;
    line-height: 1.17em;
}

/*------------------------------------------------*/
/*Размечаю сетку*/
/*Первая страница*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Header*/
.main-header {
    min-height: 70px;
}

.center-container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.logo {
    position: relative;
    top: 4.5px;
    float: left;
    padding-top: 5px;
    margin-right: 23px;
}

.main-navigation {
    float: left;
    position: relative;
    font-size: 16px;
    line-height: 1.12em;
    font-weight: bold;
}

.navigation-left-menu,
.main-sub-menu {
    font-size: 0px;
}

.navigation-left-menu > li {
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.main-sub-menu {
    position: absolute;
}

.main-sub-menu > li {
    font-size: 14px;
}

.navigation-left-side {
    float: left;
    width: 707px;
    padding-top: 30px;
}

.navigation-right-side {
    float: right;
    width: 261px;
    padding-top: 23px;
}

.navigation-right-menu-search {
    float: left;
    position: relative;
    width: 32px;
    margin-right: 10px;
}

.find-form {
    position: absolute;
    top: 36px;
    right: 0px;
    width: 340px;
    height: 84px;
}

.navigation-right-menu-authorize {
    float: left;
    position: relative;
    width: 92px;
}

.authorize-form {
    position: absolute;
    top: 36px;
    right: 0px;
    width: 277px;
    height: 214px;
}

.navigation-right-menu-cart {
    float: right;
    width: 117px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Время работы и телефон*/
.working-time {
    font-size: 14px;
    line-height: 1.14em;
    margin-bottom: 5px;
    text-align: right;
}

.phone {
    font-size:  22px;
    line-height: 1em;
    text-align: right;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Слайдер*/
.slider-inner {
    position: relative;
}

.slider-background-image {
    position: absolute;
    top: -30px;
    left: 250px;
    z-index: 0;
}

.slider-background-backlight {
    position: absolute;
    top: -114px;
    left: 78px;
 }

.slider-title {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
    line-height: 1em;
    padding-top: 279px;
}

.slider-background-1 .slider-title {
    width: 670px;
}

.slider-background-2 .slider-title {
    width: 645px;
}

.slider-background-3 .slider-title {
    width: 632px;
}

.slider-background-2,
.slider-background-3 {
    display: none;    
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/






/*------------------------------------------------*/
/*Служебное*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.SHOWME1 {
    background-color: rgba(255, 215, 108, 0.5);
    outline: 2px solid rgba(255, 190, 15, 0.5);
}

.SHOWME2 {
    background-color: rgba(120, 255, 168, 0.5);
    outline: 2px solid rgba(11, 255, 97, 0.5);
}

.SHOWME3 {
    background-color: rgba(255, 129, 176, 0.5);
    outline: 2px solid rgba(255, 13, 104, 0.5);
}

.SHOWME4 {
    background-color: rgba(0, 0, 0, 0.5);
    
}
